.logo { background-color: lightblue; }
.menu { background-color: limegreen; }
.banner { background-color: orange; }
.content-1a { background-color: yellow; }
.content-1b { background-color: red; }
.content-1c { background-color: purple; }
.content-2a { background-color: lightgray; }
.content-2b { background-color: white; }
.content-3a { background-color: black; color: white; }
.content-3b { background-color: blue; color: white; }
.content-4c { background-color: darkgreen; color: white; }
.content-5c { background-color: yellow; }
.footer { background-color: gray; color: white; }

.carousel-item img {
    max-height: 400px;
    object-fit: cover; 
    
}

#aiCarousel {
    max-height: 400px; 
    overflow: hidden; 
}

#imgLogo {
    margin-left: 10px;
}

#logoText {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-style: italic;
    font-weight: bolder;
}
.card-img-top {
    height: 280px; 
    object-fit: cover; 
    width: 100%; 
}
.footer-icon {
    width: 24px; 
    height: 24px; 
    object-fit: contain; 
    margin-right: 5px; 
  }
  